
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
</head>

<body>
    <div class="container">
        <div class="col-md-12 jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-sm" href="/scrape" role="button">Scrape Mars!</a></p>
        </div>

 <!--- Scrap Mars News --->
    <div class="container">
        <h3>Latest Mars News</h3>
        <h4 style="color:red">{{mars_data.news_title}}</h4>
        <p>{{mars_data.article_teaser}}</p>
    </div> 

    <div class="container">
      <div class='row'>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xm-12">
        <h3>Featured Mars Image</h3>
        <img src="{{mars_data.featured_image_url}}" style="max-width:100%; max-height: auto;" alt="mars image">
        </div>

        <!--- Mars Facts and table --->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xm-12">
              <h5 class="card-title">Mars Facts</h5>
              <table>{{ mars_data.html_table | safe}}</table>
            </div>
          </div> 

    <!---Mars Hemispheres Imgs-->
    <h3 style="padding-top:30px; text-align: center;">Mars Hemispheres</h3>
    <div class='card-deck'>
      <div class='col-md-12'>
          <div class="row">
              {% for item in mars_data.hemisphere_img_urls %}
              <div class="col-md-6">
                  <div class="card text-white bg-dark" style="margin: 30px;">
                      <img class="card-img-top" src="{{item.img_url}}" />
                      <div class="card-body">
                          <p class="card-text">{{ item.title }}</p>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>
  </div> 


<!-- Footer-->
<footer>
    <div class="footer"> Yonis Hassan - Data Visualization and Analytics </div>
</footer>
</body>

</html>
